.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px 20px;
  gap: 40px;
}

.expContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media (min-width: 800px) {
  .expContent {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}

.comp {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: var(--text-color);
  font-size: 14px;
  margin: 12px 0;
}

.expDesc {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.5;
}

.expBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
