.expCard {
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 360px;
  transition: transform 0.3s ease;
  background-color: var(--card-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.expCard:hover {
  transform: scale(1.02);
}

@media (min-width: 800px) {
  .expCard:nth-child(1) {
    align-self: flex-start;
  }

  .expCard:nth-child(3) {
    align-self: end;
  }
}
