.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 40px 20px;
  gap: 40px;
}

.expLine {
  display: block;
  height: 30px;
  width: 2px;
  background-color: var(--line-border-color);
  flex-shrink: 0;
}

.eduWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 330px;
}

@media (min-width: 800px) {
  .expLine {
    height: 220px;
  }

  .eduWrap {
    flex-direction: row;
    gap: 20px;
  }
}
