.container {
  text-align: center;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 10px;
  justify-items: center;
  max-width: 800px;
  margin: 0 auto;
}
