.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  cursor: pointer; /* Ensures pointer on hover */
  color: var(--text-color);
  border: 1px solid var(--border-color); /* Added variable for border color */
}

.card:hover {
  transform: translateY(-6px); /* Hover effect to lift the card */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Enhance shadow on hover */
}

.card img {
  width: 100%;
  max-width: 250px;
  border-radius: 12px;
}

.card h3 {
  font-size: 20px;
  margin: 0;
}

.card p {
  font-size: 14px;
  color: var(--text-secondary);
}

.techWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.techWrapper span {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
}

.projectLinkWrap {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  width: 100%;
}

.projectLinkWrap span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.projectLinkWrap a {
  all: unset;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 18px;
}
